.App {
  font-family: sans-serif;
  text-align: center;
  padding:20px;
}

.nav {
  background-color: rgb(245, 222, 179);
  padding: 10px;
}

.content {
  height: 20vh;
}

p{
  font-size: 20px;
}

@media screen and (max-width: 570px) {
  p{
    font-size: 15px;
  }
}

.form-content{
  padding:20px;
  display: flex;
  justify-content: space-around;
  
}